
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    width: 100%;
    height: 100%;
    background-color: #f9f6f1; 
  }

  .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f423a;
  padding: 10px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: white 
  }

  .contenido {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #f9f6f1;
  }
.contenido h1 {
    font-size: 1.3rem;
    color: #4f423a;
    font-family: "Segoe UI", Arial, sans-serif;

  }

.head h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

/* Contenedor derecho (buscador + iconos) */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Caja de búsqueda */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 6px 28px 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease;
}

.search-box input:focus {
  border-color: #4f423a;
}

.search-box i {
  position: absolute;
  right: 8px;
  color: #666;
  font-size: 0.9rem;
}

/* Íconos */
.notification-icon,
.user-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #444;
  transition: color 0.2s ease;
}

.notification-icon:hover,
.user-icon:hover {
  color: #4f423a;
}
.contenido {
  padding: 20px;
  background-color: #f9f4ed;
  min-height: 100vh;
}

.dashboard {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  color:#6b5b4e;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  min-width: 260px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
    border-left: 5px solid #4a3535;

}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  font-size: 1.5rem;
  color: #4a3f35;
  text-align: center;
  margin-bottom: 10px;
font-family: "Segoe UI", Arial, sans-serif;

}

.card h1 {
  font-size: 1.8rem;
  color: #2d2d2d;
  text-align: center;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;

}

.card p {
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;

}

.success {
  color: #00a86b;
}

.info {
  color: #007bff;
}

.warning {
  color: #ffd000;
}

.activity {
  width: 100%;
}

.chart {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
