.contenido {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  background-color: #F9F6F1;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* CABECERA */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.head h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4b3b2f;
  margin: 0;
}

.mesas-container {
  position: relative;
  width: 90vw;
  aspect-ratio: 16 / 9; /* ajusta según la proporción real del plano */
  background-image: url('../../../assets/cafe_plano.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.plano {
  position: absolute;
  inset: 0;
}

/* Botones */
.mesa {
  position: absolute;
  width: 6%;
  height: 6%;
  border-radius: 50%;
  border: none;
  background-color: #c06727;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}


.mesa:hover {
  background-color: #b37355;
  transform: scale(1.1);
}

